<app-navbar [LoggedIn]="LoggedIn"></app-navbar>
<div class="d-flex flex-column options">
<div class="d-flex header"><strong>Hey {{firstName}}!</strong></div>
<div class="d-flex justify-content-between optionsbox">
    <div class="shadow card p-5 bookRide mx-auto col-xs-12" type="button"  routerLink="../ride/book-ride"><div class="card-title">Book a Ride</div></div>
    <div class="shadow card p-5 offerRide mx-auto col-xs-12" type="button"  routerLink="../ride/offer-ride"><div class="card-title">Offer a Ride</div></div>
</div>
</div>