
<div class="credentialsContainer">
  <div class="col signup">Log In
    <div class="container line"></div>
    <form [formGroup]="loginForm">
    <div class="form-floating" >
        <input type="email" class="form-control" id="emailId" placeholder="Email Id" formControlName="emailId" [ngClass]="{
          'is-valid':loginForm.controls.emailId.valid,
          'is-invalid':loginForm.controls.emailId.invalid && loginForm.controls.emailId.touched}">
        <label for="emailId">Enter Email Id</label>
        <div class="invalid-feedback m-1 mb-2" *ngIf="loginForm.controls.emailId.errors?.required">Required!</div>
        <div class="invalid-feedback m-1 mb-2" *ngIf="loginForm.controls.emailId.errors?.email">Enter Valid Email Id!</div>
      </div>
      
      <div class="d-flex">
        <div class="form-floating">
            <input class="form-control form-control-lg" [type]="show ? 'text' : 'password'" placeholder="Enter Password" id="password" formControlName="password" [ngClass]="{
              'is-valid':loginForm.controls.password.valid,
              'is-invalid':loginForm.controls.password.invalid && loginForm.controls.password.touched}">
            <label for="password">Enter Password</label>
            <div class="invalid-feedback m-1 mb-2" *ngIf="loginForm.controls.password.errors?.required">Required!</div>
        </div>
        <i *ngIf="show" class="bi bi-eye-fill m-2 ms-1" (click)="showPassword()"></i>
        <i *ngIf="!show" class="bi bi-eye-slash-fill m-2 ms-1" (click)="showPassword()"></i>
      </div>
    <button type="submit" id="submitButton" (click)="login()" [disabled]="loginForm.invalid">Submit</button>
    <div class="button"  routerLink="../signup">Not a member?<strong> SIGN UP</strong></div> 
  </form>
</div>
<div class="image"><img src="assets/img2_half_trans.png" width="430px"></div>
  </div>
  