
.bi{
    font-size:13px;
    color:rgba(147,25,255,255);
}
.dot{
    font-size:5px;
    font-weight: 100;
    margin:1px;
    color: grey;
    opacity: 0.5;
}
.subheadings{
    font-size:10px;
    color:grey;
    font-weight:700;
}
.card-title{
    font-weight:bolder;
    font-size:18px;
}